.artical {
  border: 10px solid black;
  background-color: lightpink;
  margin: 50px;
  width: 500px;
  box-shadow: 20px 10px 5px grey;
}
.header {
  /* height: 100%;
  width: 100%; */
  height: 2000px;
  background-color: lightgreen;
  background-image: url("panda.jpg");
  /* background-repeat: contain; */
  background-repeat: no-repeat;
  /* background-position: 200px 100px; */
}
