<<<<<<< HEAD
.blog {
  background-color: aqua;
}
h2 {
  text-decoration: underline;
}
#last {
  background-color: brown;
  /* display: none; */
  /* visibility: hidden; */
}
#min {
  color: red;
  border: 5px solid green;
  margin: 50px;
  padding: 20px;
}
=======
.blog {
  background-color: aqua;
}
h2 {
  text-decoration: underline;
}
#last {
  background-color: brown;
  /* display: none; */
  /* visibility: hidden; */
}
#min {
  color: red;
  border: 5px solid green;
  margin: 50px;
  padding: 20px;
}
>>>>>>> 2890fdf7974aa7d69d1185141ab778c6c6dd65aa
