body{
    max-width: 1140px;
    background-color: lavenderblush;
    margin: 0 auto;
}
.card-section{
    text-align: center;
    
}
.card-container{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}
.card:hover{
    background-color: lightpink;
}
.card{
    width: 300px;
    border: 2px solid sandybrown;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 10px 10px 5px grey;
}
.card img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.card h3{
    font-size: 1.25em;
    font-weight: 700;
}