nav {
  display: flex;
}
img {
  width: 800px;
  height: auto;
  padding: 50px;
  align-items: left;
}
form {
  margin-left: 0;

  padding: 20px;
}
h2 {
  font-size: 2em;
  font-weight: 700;
  color: darkblue;
  text-align: center;
}
table {
  text-align: center;
  table-layout: auto;
}
